**/__pychche__/**
**/lightning_logs/**
**/tb_logger/**
*.pkl
*.pyc
*.ckpt
*.log
*.raw
*.txt
**/jobs/**
local_data/**
*.zip
**/wikitext*/**
*.model
*.pt
*.sc
*.bin
**/logs/**
*tokenizer.json
token.json
**/test_cls/**
valid/**
test_simple_ner/**
output/**
**/output/**
**/conll2003/data/**
